<h4>
  <%= link_to event[:actor][:login], "https://github.com/#{event[:actor][:login]}" %>
  created 
  <%= event[:payload][:ref_type] %>
  <%= event[:payload][:ref] %>
  at
  <%= link_to event[:repo][:name], event[:repo][:url] %>
  <small>
    <%= time_ago_in_words event[:created_at] %> ago
  </small>
</h4>
